{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="text-center" style="font-family: 'Lato'; font-size: 48px;">Head Start Kits</h1>
        <hr style="width:70%">
    </div>
    <div class="row">
        {{ react_component('CategoryList', {'props': categories}) }}
    </div>
    <div class="row">
        {{ react_component('ProductList', {'props': products}, {'layout': 'products'}) }}
    </div>
{% endblock %}
