$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

//Navbar changes
.navbar-inverse .navbar-toggle {
  border-color: #efe;
  color: #efe;
}
//End Navbar changes

body {
  padding-top: 50px;
}
.brand {
  max-width: 100px;
  margin-top: -7px;
}

.main-container {
  padding: 40px 15px;

  a .recipe-body {
      text-decoration: none;
      color: black;
  }

}
#search-box {
    width: 300px;
}

#search-box-mobile {
  text-align: right;
  position: relative;
  float: right;
  padding: 1px 12px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 8px;
  width: 58%;
}

.category-box {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  width: 220px;
}
#header-product {
  //height: 400px;
}
#header-product .description{
  min-height: 40px;
}

.green-btn {
  background: #4f805d!important;
  margin: 1px;
}
.product-image {
  max-height:230px;
}

.bottom-buffer {
  margin-bottom: 20px;
}
/*#header-product:hover {
  border: 1px solid red;
  border-radius: 5px;
  background: #efefef;
  min-height:377px;
}*/

@media (max-width: 420px) {
  #search-box-mobile {

    width: 100%;
  }
}
