{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="font-family: 'Lato'; font-size: 48px;">Add New Product</h1>
    <hr style="width:70%">
    <div class="form">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
